@model MyResumeWebSite.Models.EntityFramework.SocialMediaTable
@{
    ViewBag.Title = "AddMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddMedia</h2>

@*<form action="AddMedia" class="form-group" method="post" >
        <div>
            <label>Social Media</label>
            <input type="text" name="SocialMedia" class="form-control" />
        </div>
        <div>
            <label>Media Url</label>
            <input type="text" name="MediaAdress" class="form-control" />
        </div>

        <button  class="btn btn-primary">Save</button>
    </form>*@

@using (Html.BeginForm("AddMedia", "SocialMedia", FormMethod.Post))
{    
    <div class="form-group">
        @Html.LabelFor(i => i.SocialMedia)
        @Html.TextBoxFor(i => i.SocialMedia, new { @class = "form-control" ,@required="required" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.MediaAdress)
        @Html.TextBoxFor(i => i.MediaAdress, new { @class = "form-control" })
    </div>
    @Html.ActionLink("Perivous Page", "Index", null, new { @class = "btn btn-warning" })
    <button type="submit" class="btn btn-primary">Save</button>
}

