@using MyResumeWebSite.Models.EntityFramework

@model List<User>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Personel Information</h2>

<hr />
<a href="/User/AddUser" class="btn btn-success">Add User</a>
<br />
<br />
<div id="Tbl01">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Phone</td>
                    <td>@item.Adress</td>
                    <td>@Html.ActionLink("Update","Update", new { id = item.Id}, new { @class ="btn btn-warning"})</td>
                    <td>@Html.ActionLink("Delete","Delete",new { id = item.Id},new { @class ="btn btn-danger"})</td>
                </tr>

            }

        </tbody>

    </table>
</div>

